<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="RFID_MONITOR_CLONE.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <appSettings>
		<add key="IpServer" value="10.30.0.21" />
		<add key="userName" value="sa" />
		<add key="pass" value="greenland@VN" />
		<add key="dataname" value="DV_DATA_LAKE" />
	</appSettings>
 <userSettings>
  <RFID_MONITOR_CLONE.Properties.Settings>
   <setting name="Language" serializeAs="String">
    <value />
   </setting>
  </RFID_MONITOR_CLONE.Properties.Settings>
 </userSettings>
</configuration>